@font-face {
  font-family: flyingant;
  src: url("../../assets/font/Cylla.ttf");
}

body {
  font-family: flyingant;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8dc08;

  .box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    .piggy {
      width: 88px;
      height: 62px;
      transform: scale(0.6); 
    }

    .piggy-walk {
      display: block;
      margin-left: 12px;
      background: url(https://cdn-studio.oss-cn-hangzhou.aliyuncs.com/files/mayi/pig-walking.png) 100% 0 no-repeat;
      animation: anim 1s steps(23) infinite,movelr 120s linear reverse infinite;
      -webkit-animation: anim 1s steps(23) infinite,movelr 120s linear reverse infinite;
    }

    .piggy-nibble {
      display: none;
      margin-left: 12px;
      background: url(https://cdn-studio.oss-cn-hangzhou.aliyuncs.com/files/mayi/pig-nibble.png) 100% 0 no-repeat;
      animation: anim-nibble 2s steps(59) alternate infinite;
      -webkit-animation: anim-nibble 2s steps(59) alternate infinite;
    }

    @-webkit-keyframes anim-nibble{
      from{background-position:0 0}
      to{background-position:-5192px 0}
    }
    @keyframes anim-nibble{
      from{background-position:0 0}
      to{background-position:-5192px 0}
    }
    @-webkit-keyframes movelr{
      from{left:-2%}
      to{left:101%}
    }
    @keyframes movelr{
      from{left:-2%}
      to{left:101%}
    }
    @-webkit-keyframes anim{
      from{background-position:0 0}
      to{background-position:100% 0}
    }
    @keyframes anim{
      from{background-position:0 0}
      to{background-position:100% 0}
    }

    .desc {
      text-align: center;
      p {
        margin: 0;
        padding: 0;
      }

      #title {
        font-size: 28px;
        text-align: center;
      }

      #nickname {
        font-size: 56px;
        text-align: center;
      }
    }
  }

  .box:hover {
    .piggy-walk {
      display: none;
    }
    .piggy-nibble {
      display: block;
    }
  }

  .links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    font-size: 16px;
    padding: 5px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        margin: 0 2px;
        a {
          color: #000000;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }

  .say-hello {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 400;
    font-size: 24px;
    padding: 5px;
    a {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      &:hover {
        color: #000000;
        font-weight: normal;
      }
    }
  }
}
